.recond{
    position: absolute;
    right: 0;
    top: 30%;
    height: 300px;
    width: 200px;
    overflow-y: scroll;
    text-align: left;
    font-size: 16;
    color: white;
}
.properties{
    position: absolute;
    left: 0;
    top: 20%;
    height: 200px;
    width: 150px;
    text-align: left;
    font-size: 16;
}

.props {
    display: flex;
    position: fixed;
    bottom: 20px;
    left: 20px;
    flex: 1;
}

.props img {
    width: 100px;
    height: 100px;
    position: relative;
}